body {
  background-image:url("bac.jpeg");
 background-size:cover;
  color: white;

  margin: 0;
  padding: 0;
}
a{
  color:pink;
  
}
.li{
margin-top:20px;
}
.flex {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  
}
  
